html {
  font-family: "Space Grotesk" !important;
  @apply !bg-white;
}
body {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box !important; */
  /* overflow-x: hidden; */
  /* overflow: hidden; */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.css-dev-only-do-not-override-m79h4c.ant-menu-light,
.css-dev-only-do-not-override-m79h4c.ant-menu-light > .ant-menu {
  background: none !important;
}

.bgImg {
  background-image: url("/public/orangeImage.png");
  background-repeat: no-repeat;
  background-position-y: 380px;
  background-size: contain;
}

.bgImg-web {
  background-image: url("/public/cardImage.png");
  background-repeat: no-repeat;
  background-position-x: 800px;
  background-size: contain;
}
/* .service-card > div:hover {
  color: rgb(255, 255, 255) !important;
} */

.footerImg {
  background-image: url("/public/Opendesk.png");
  background-repeat: no-repeat;
  background-position-y: 190px;
  background-size: contain;
}
.mobileFooter {
  background-image: url("/public/Opendesk.png");
  background-repeat: no-repeat;
  background-position-y: 400px;
  background-size: contain;
}

.b-bottom {
  border-bottom: 1px solid white;
}

.main-nav.active {
  border-bottom: 2px solid #e15b3b !important;
  color: #e15b3b !important;
}
.mobile-nav.active {
  border-bottom: 1px solid white;
}

.web-font {
  font-family: "Space Grotesk" !important;
}
.service_card > *:hover {
  @apply !bg-[#E15B3B] !text-[#fff] !border-[#E15B3B];
}
.service_card > img:hover {
  @apply !text-[#fff];
}

.ant-collapse-content-box p {
  @apply !text-white;
}
.ant-collapse-header-text {
  @apply !text-white !text-[20px] lg:!text-[40px] !font-medium !leading-[50px];
}
.ant-collapse-item-active .ant-collapse-header {
  @apply !bg-[#142A49];
}
.ant-collapse-header {
  @apply bg-[#9eb9dfcc];
}
.ant-collapse {
  @apply !rounded-lg;
}
